/.env
/crawl_selenium.py
/Driver_Notes
/edgedriver_win64.zip
/missed.txt
/msedgedriver.exe
/page_source.html
/shopee_reviews_ABSA_FAST.csv
/shopee_reviews_biscute.csv
/shopee_reviews1.csv
/shopee_reviews2.csv
/shopee_reviews1star.csv
/shopee_reviews.csv